In [1]:
import pandas as pd

In [ ]:
score_df = pd.read_csv("C:\\Users\park\\Desktop\\hospital_score.csv", encoding='euc-kr')

#### Hospital score

In [5]:
score_df.head()

         dutyName.x      hpid  score(mean=100, sd=20)
0        의료법인강릉동인병원  A2200005              116.390005
1            강릉아산병원  A2200008              170.014357
2          강원도삼척의료원  A2200007               71.870779
3          강원도속초의료원  A2200012               49.591405
4  의료법인보광의료재단속초보광병원  A2200046               51.903921

In [10]:
score_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 3 columns):
dutyName.x                313 non-null object
hpid                      313 non-null object
score(mean=100, sd=20)    313 non-null float64
dtypes: float64(1), object(2)
memory usage: 7.5+ KB

In [6]:
hospital_df = pd.read_csv("C:\\Users\\park\\Desktop\\DS_Yonsei\\location.csv", encoding='euc-kr')

#### Hosiptal info

In [7]:
hospital_df.head()

   Unnamed: 0      hpid       hname    x_coord     y_coord
0           0  A2200005  의료법인강릉동인병원  37.774326  128.907142
1           1  A2200011    강원도강릉의료원  37.749310  128.888796
2           2  A2200008      강릉아산병원  37.818427  128.857714
3           3  A2200038  근로복지공단동해병원  37.532323  129.105856
4           4  A2200003  의료법인동해동인병원  37.530007  129.107404

In [11]:
hospital_df.info

<bound method DataFrame.info of      Unnamed: 0      hpid             hname    x_coord     y_coord
0             0  A2200005        의료법인강릉동인병원  37.774326  128.907142
1             1  A2200011          강원도강릉의료원  37.749310  128.888796
2             2  A2200008            강릉아산병원  37.818427  128.857714
3             3  A2200038        근로복지공단동해병원  37.532323  129.105856
4             4  A2200003        의료법인동해동인병원  37.530007  129.107404
..          ...       ...               ...        ...         ...
397         397  A2300008            청주성모병원  36.673801  127.485470
398         398  A2300002   의료법인한마음의료재단하나병원  36.623474  127.430819
399         399  A2302011  재단법인베스티안재단베스티안병원  36.636428  127.321641
400         400  A2300010      건국대학교의료원충주병원  36.978975  127.928637
401         401  A2300004         충청북도충주의료원  36.979567  127.970359

[402 rows x 5 columns]>

#### join data : outer join for empty cell handling

In [29]:
h_df = hospital_df.merge(score_df,how='outer', left_on='hpid', right_on='hpid')

In [30]:
h_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402 entries, 0 to 401
Data columns (total 7 columns):
Unnamed: 0                402 non-null int64
hpid                      402 non-null object
hname                     402 non-null object
x_coord                   402 non-null float64
y_coord                   402 non-null float64
dutyName.x                313 non-null object
score(mean=100, sd=20)    313 non-null float64
dtypes: float64(3), int64(1), object(3)
memory usage: 25.1+ KB

In [31]:
h_df.head()

,Unnamed: 0,hpid,hname,x_coord,y_coord,dutyName.x,"score(mean=100, sd=20)"
0,0,A2200005,의료법인강릉동인병원,37.774326,128.907142,의료법인강릉동인병원,116.390005
1,1,A2200011,강원도강릉의료원,37.749310,128.888796,NaN,NaN
2,2,A2200008,강릉아산병원,37.818427,128.857714,강릉아산병원,170.014357
3,3,A2200038,근로복지공단동해병원,37.532323,129.105856,NaN,NaN
4,4,A2200003,의료법인동해동인병원,37.530007,129.107404,NaN,NaN

#### drop unnamed column

In [32]:
h_df = h_df.loc[:, ~h_df.columns.str.contains('^Unnamed')]

In [33]:
h_df.head()

,hpid,hname,x_coord,y_coord,dutyName.x,"score(mean=100, sd=20)"
0,A2200005,의료법인강릉동인병원,37.774326,128.907142,의료법인강릉동인병원,116.390005
1,A2200011,강원도강릉의료원,37.749310,128.888796,NaN,NaN
2,A2200008,강릉아산병원,37.818427,128.857714,강릉아산병원,170.014357
3,A2200038,근로복지공단동해병원,37.532323,129.105856,NaN,NaN
4,A2200003,의료법인동해동인병원,37.530007,129.107404,NaN,NaN

#### drop duplicate column

In [41]:
h_df = h_df.drop(columns = ['dutyName.x'] , axis=1)

In [44]:
h_df.head()

       hpid       hname    x_coord     y_coord  score(mean=100, sd=20)
0  A2200005  의료법인강릉동인병원  37.774326  128.907142              116.390005
1  A2200011    강원도강릉의료원  37.749310  128.888796                     NaN
2  A2200008      강릉아산병원  37.818427  128.857714              170.014357
3  A2200038  근로복지공단동해병원  37.532323  129.105856                     NaN
4  A2200003  의료법인동해동인병원  37.530007  129.107404                     NaN

#### Null handling : fillna('mean')

In [45]:
filled = h_df.fillna(h_df.mean())

In [46]:
filled.head()

       hpid       hname    x_coord     y_coord  score(mean=100, sd=20)
0  A2200005  의료법인강릉동인병원  37.774326  128.907142              116.390005
1  A2200011    강원도강릉의료원  37.749310  128.888796              100.000000
2  A2200008      강릉아산병원  37.818427  128.857714              170.014357
3  A2200038  근로복지공단동해병원  37.532323  129.105856              100.000000
4  A2200003  의료법인동해동인병원  37.530007  129.107404              100.000000

In [82]:
filled['xy'] = list(zip(filled.x_coord, filled.y_coord))

In [84]:
filled.head()

,hpid,hname,x_coord,y_coord,"score(mean=100, sd=20)",xy
0,A2200005,의료법인강릉동인병원,37.774326,128.907142,116.390005,"(37.77432579, 128.9071418)"
1,A2200011,강원도강릉의료원,37.749310,128.888796,100.000000,"(37.74931042, 128.8887963)"
2,A2200008,강릉아산병원,37.818427,128.857714,170.014357,"(37.81842669, 128.85771409999998)"
3,A2200038,근로복지공단동해병원,37.532323,129.105856,100.000000,"(37.53232312, 129.10585600000002)"
4,A2200003,의료법인동해동인병원,37.530007,129.107404,100.000000,"(37.53000681, 129.1074043)"

## Location Scoring

In [47]:
st = pd.read_csv("C:\\Users\park\\Desktop\\strong_series.csv", encoding='euc-kr')

In [55]:
st = st.drop(columns = ['0'] , axis = 1 )

In [63]:
st.rename(columns = {"(35.25133521, 129.2160746)": "xy" }, inplace = True)

In [64]:
st.head()

                           xy
0  (35.25792753, 129.2127994)
1  (35.24466329, 129.2264373)
2  (35.24784903, 129.2370603)
3  (35.25006167, 129.1997695)
4  (35.23956938, 129.2003006)

In [122]:
st['xy'][0]

'(35.25792753, 129.2127994)'

In [123]:
filled['xy'][0]

(37.77432579, 128.9071418)

In [108]:
haversine(st['xy'][0] , filled['xy'][1])

ValueError: too many values to unpack (expected 2)

In [91]:
st['xy']

0              (35.25792753, 129.2127994)
1              (35.24466329, 129.2264373)
2              (35.24784903, 129.2370603)
3              (35.25006167, 129.1997695)
4              (35.23956938, 129.2003006)
                      ...
7864    (33.52612038, 126.61789270000001)
7865    (33.48631499, 126.63961100000002)
7866           (33.52950526, 126.6414315)
7867    (33.22793712, 126.65277379999999)
7868    (33.32800614, 126.59405559999999)
Name: xy, Length: 7869, dtype: object

In [51]:
from haversine import haversine

In [88]:
from functools import partial

def todict(x, y, z):
    z.updata({ x : y})
    
def calculate_distance(loop, target, distance):
    for loop_ in loop:
        dis = haversine(target, loop_)
        if dis < distance:
            return loop_ , dis 
        else :
            continue

In [93]:
a = list(map(lambda x : calculate_distance(filled['xy'], x , 10) , st['xy']))

ValueError: too many values to unpack (expected 2)

In [71]:
def calculate_distance(loop, target, distance):
    for loop_ in loop['xy']:
        if haversine(target, loop_) < distance:
            return target

# issue : coord in csv file deteriorate  '(x,y )' to (x , y)

#### import new data

In [128]:
new_df = pd.read_csv("C:\\Users\\park\\Desktop\\DS_Yonsei\\target_xy.csv",encoding='euc-kr')

In [129]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19956 entries, 0 to 19955
Data columns (total 5 columns):
Unnamed: 0    19956 non-null int64
x_coord       19956 non-null float64
y_coord       19956 non-null float64
x_w84         19956 non-null float64
y_w84         19956 non-null float64
dtypes: float64(4), int64(1)
memory usage: 779.7 KB

In [130]:
new_df["xy"] = list(zip(new_df.x_w84, new_df.y_w84))

In [131]:
new_df.head()

,Unnamed: 0,x_coord,y_coord,x_w84,y_w84,xy
0,0,1156316.451,1696145.364,35.251335,129.216075,"(35.25133521, 129.2160746)"
1,1,1156005.820,1696871.420,35.257928,129.212799,"(35.25792753, 129.2127994)"
2,2,1157272.193,1695421.691,35.244663,129.226437,"(35.24466329, 129.2264373)"
3,3,1158232.627,1695791.926,35.247849,129.237060,"(35.24784903, 129.2370603)"
4,4,1154835.339,1695978.554,35.250062,129.199770,"(35.25006167, 129.1997695)"

In [132]:
new_df = new_df.loc[:, ~new_df.columns.str.contains('^Unnamed')]

In [133]:
new_df.head()

       x_coord      y_coord      x_w84       y_w84                          xy
0  1156316.451  1696145.364  35.251335  129.216075  (35.25133521, 129.2160746)
1  1156005.820  1696871.420  35.257928  129.212799  (35.25792753, 129.2127994)
2  1157272.193  1695421.691  35.244663  129.226437  (35.24466329, 129.2264373)
3  1158232.627  1695791.926  35.247849  129.237060  (35.24784903, 129.2370603)
4  1154835.339  1695978.554  35.250062  129.199770  (35.25006167, 129.1997695)